.parent{
    width: 40%;
    height: 200px;
    background-color: aquamarine;
    position: relative;
}
.child{
    width: 10%;
    height: 100px;
    background-color:brown;
    position: absolute;
    left: 50%;
}