@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@1,200&display=swap');
.navbar-brand{
    font-family: 'DM Serif Text', serif;
    font-size: 25px;
}
.nav-link{
    font: weight 500px;
}
